.cv-form {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    background-color: whitesmoke;
}

.one{
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 90%;
    margin-top: 50px;
    background: whitesmoke;
}

.con-profile{
    width: 40%;
}

.con-title{
    width: 50%;
}

.con-title >h1:first-child{
    font-family: 'Paytone One', sans-serif;
    font-size: 3rem;
    margin: 10px 0;
    letter-spacing: 4px;
}
.con-title > h1:nth-child(2){
    border-radius: 20px;
    border: 2px solid gold;
    padding: 5px 20px;
    font-weight: lighter;
    text-align: center;
}

.my-profile{
    border-radius: 50%;
    border: 5px outset;
    width: 180px;
}

.two{
    border: 2px solid goldenrod;
    border-radius: 10px;
    margin: 10px;
    width: 45%;
    display: flex;
}

.three{
    width: 45%;
    border: unset ;
}

.two, .three{
    display: flex;
    justify-content: flex-start;
    padding-left: 30px;
    flex-direction: column;
    align-items: flex-start;

}

.contact{
    margin-top: 30px;
}
.two > .contact > h1{
    border-radius: 20px;
    border: 2px solid gold;
    padding: 5px 20px;
    font-size: xx-large;
    font-weight: lighter;
    text-align: center;
    width: 200px;
    margin-bottom: 30px;
}

.contact > ul > li{
    list-style: none;
    padding: 10px 0;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    color: darkslateblue;
    font-family: sans-serif;
}

.contact > ul > li > i{
    margin-right: 35px;
}

.skill{
    width: 90%;
}

.skill > h3{
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: lighter;
}

.skill > p{
    margin-bottom: 15px;
    color: darkslateblue;
    font-size: 1rem;

}

.interesting > h1{
    width: unset;
}

.skill > ul > li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}