*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans Khmer', sans-serif;
}

header{
    background-color: grey;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
}
.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    height: 55px;
    justify-content: space-between;
}

.container > ul:first-child > li{
    list-style: none;
}

.container > ul:first-child > li > a{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

.container > ul:first-child > li > a > img{
    height: auto;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.container > ul:first-child > li > a > h3{
    font-size: x-large;
    font-weight: 900;
}
.container > ul:nth-child(2){
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.container > ul:nth-child(2) > li{
    padding: 0 20px;
    list-style: none;
}

.container > ul:nth-child(2) > li > a{
    text-decoration: none;
    color: rgb(221, 221, 221);
    font-size: 1.3rem;
}

.container > ul:nth-child(2) > li > a:hover{
    color: white;
}

section{
    width: 50%;
    margin: auto;
    margin-top: 100px;
}
section > h2{
    margin: 20px 0;
    font-weight: 800;
    font-size: 2rem;
}

section > p{
    font-size: 1.5rem;
    font-family: system-ui;
}

section > ul > li{
    font-size: 1.5rem;
    font-family: system-ui;
}
